[Unit]
Description=Locking script for Wayland
Documentation=man:swayidle(1)
PartOf=lock.target
RefuseManualStop=yes

[Service]
Type=simple
ExecStart=/usr/bin/swaylock -c %h/.config/swaylock/config
Restart=on-failure
RestartSec=2


[Install]
WantedBy=lock.target
WantedBy=sleep.target