[Unit]
Description=Locking script with idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaylock -c %h/.config/swaylock/config

[Install]
WantedBy=lock.target