[Unit]
Description=Service that keeps monitors off when session is locked
PartOf=lock.target
BindsTo=lock.target
# RefuseManualStart=yes
# RefuseManualStop=yes

[Service]
ExecStart=/usr/bin/swayidle -w timeout 5 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"'

[Install]
WantedBy=lock.target