[Unit]
PartOf=unlock.target
BindsTo=unlock.target
After=unlock.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user stop lock-dpms.service

[Install]
WantedBy=unlock.target