[Unit]
PartOf=unlock.target
BindsTo=unlock.target
After=unlock.target

[Service]
Type=oneshot
ExecStart=killall -u %n swaylock

[Install]
WantedBy=unlock.target