[Unit]
PartOf=unlock.target
BindsTo=unlock.target
After=unlock.target

[Service]
Type=oneshot
ExecStart=pkill "/usr/bin/swaylock -c %h/.config/swaylock/config"

[Install]
WantedBy=unlock.target