#
# ~/.inputrc
#


$include /etc/inputrc

# search bash history with up/down arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward

# use left/right and home/end keys in terminal
"\e[C": forward-char
"\e[D": backward-char
"\e[1~": beginning-of-line
"\e[4~": end-of-line

set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

set colored-stats On
#sets readline to display possible completions using different colors to indicate their file types. The colors are determined by the environmental variable LS_COLORS, which can be nicely configured.

set completion-ignore-case On

set completion-prefix-display-length 3
# If the common prefix has more than 3 characters, they are replaced by ellipsis. For example, assume we are in a directory with files Screenshot_20170730.png and Screenshot_20170731.png. If using the default option, an auto completion prints Screenshot_20170730.png Screenshot_20170731.png. If this option is set,then the auto completion prints ...0.png ...1.png. However, if the common prefix is very short (fewer or equal to 3 characters), the full file names are still printed. For example, in a directory with files S10.png and S11.png, an auto completion still prints S10.png S11.png. This can be very useful when auto completing in a directory in which a lot of files have a long common prefix,such a camera image directory.

set mark-symlinked-directories On
# Sets every completion which is a symbolic link to a directory to have a slash appended.

set show-all-if-ambiguous On
#sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion.

set show-all-if-unmodified On
# Sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion but no partial completion can be made.

set visible-stats On
#sets completions to be appended by characters that indicate their file types reported by the stat system call.
