[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PyCharm
Icon=/opt/pycharm/bin/pycharm.png
StartupWMClass=jetbrains-pycharm
Exec="/opt/pycharm/bin/pycharm.sh" %f
Categories=Development;IDE;
Comment=Pycharm IDE
Terminal=false
